md-dialog.user-edit-dialog.dialog
    md-dialog-content
        textarea(data-ui-tinymce, data-ng-model="vm.tinymceModel")

    md-dialog-actions.layout-row.layout-align-center-center
        md-button.flex-xs-33(ng-click="vm.dialogSave()") Save
