
<div class="login-wrapper layout-column layout-align-center-center">
  <md-card>
    <md-card-title>
      <md-card-title-text class="layout-align-center-center">
        <h4 class="md-title">Login</h4>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="vm.loginForm" role="form" novalidate="" ng-submit="vm.login(user)" class="layout-column">
        <md-input-container ng-class="{ 'md-input-invalid' : vm.loginForm.username.$invalid &amp;&amp; !vm.loginForm.username.$pristine }">
          <label>Email</label>
          <input type="email" required="" ng-model="vm.user.email" name="email" ng-minlength="10" ng-maxlength="100"/>
          <div ng-messages="vm.loginForm.email.$error" ng-if="vm.loginForm.email.$dirty || vm.loginForm.email.$touched" class="error-container">
            <div ng-message="required" class="error">Email field is required</div>
            <div ng-message="email" class="error">The email you entered is not valid</div>
            <div ng-message="minlength" class="error">Your email is too short.</div>
          </div>
        </md-input-container>
        <md-input-container ng-class="{ 'md-input-invalid' : vm.loginForm.password.$invalid &amp;&amp; !vm.loginForm.password.$pristine }">
          <label>Password</label>
          <input type="password" required="" ng-model="vm.user.password" name="password" ng-minlength="6" ng-maxlength="20"/>
          <div ng-messages="vm.loginForm.password.$error" ng-if="vm.loginForm.password.$dirty || vm.loginForm.password.$touched" class="error-container">
            <div ng-message="required" class="error">Password field is required</div>
            <div ng-message="minlength" class="error">Your password must be between 6 and 20 characters long.</div>
            <div ng-message="maxlength" class="error">Your password must be between 6 and 20 characters long.</div>
          </div>
        </md-input-container>
        <label ng-if="vm.error &amp;&amp; !vm.loginForm.$dirty" class="error">{{vm.error}}</label>
        <md-button type="submit" ng-disabled="!vm.loginForm.$valid" class="md-raised md-primary">Login</md-button>
      </form>
    </md-card-content>
  </md-card>
</div>